.row {
  display: block;
}

.cell {
  background: gray;
  height: 50px;
  width: 50px;
  border: groove;
  display: inline-block;
}

.cell. {
  background: blue;
}

.small {
  background: blue;
  height: 20px;
}

.medium {
  background: blue;
  height: 30px;
}

.large {
  background: blue;
}

.highlight {
  background: yellow;
}